PORT={{ backend_port }}
NODE_ENV=production
MONGO_URI=mongodb://{{ mongodb_app_user }}:{{ mongodb_app_password }}@{{ database_private_ip }}:27017/{{ mongodb_database }}?authSource={{ mongodb_database }}
