[Unit]
Description=TravelMemory Express Backend
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory={{ app_directory }}/{{ backend_folder }}
EnvironmentFile={{ app_directory }}/{{ backend_folder }}/.env
ExecStart=/usr/bin/node {{ app_directory }}/{{ backend_folder }}/index.js
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
